// Take into account that Bootstrap@3's Tooltips and Popovers z-indexes
// are between 1000 and 2000
// E.g. Tooltip's z-index = 1070
// https://github.com/twbs/bootstrap/blob/5359cb805/less/tooltip.less#L9
// https://github.com/twbs/bootstrap/blob/98b9ff6b7ad3f/less/variables.less#L275

// Global
$z-index-confirm-modal: 10000;
$z-index-google-pac-container: 20000;
$z-index-file-uploader-overlay: 11000;
$z-index-site-navbar: 100;
$z-index-flash-area: 2000000000;
$z-index-data-table-action-bar: 1;

// Listing Wizard
$z-index-listing-wizard-confirm-reset: 100;
$z-index-listing-wizard-creating-overlay: 50000;

// Listings Index
$z-index-listings-index-settings-dropdowns: 1;

// Listing
$z-index-listing-navbar: 90;
$z-index-listing-loading-overlay: 85;
$z-index-listing-unavailable-screen: 80;

// LEM
$z-index-listing-preview-navbar: 90;
$z-index-listing-preview-container: 200;
$z-index-listing-edit-location: 1000;
$z-index-listing-edit-photos-modal: 1000;
$z-index-listing-edit-photos-preview: 1010;

// SLV
$z-index-listing-show-booking-cal: 7;

$z-index-listing-show-photo-gallery-overlay: 10000;
$z-index-listing-show-photo-gallery-ui: 10100;
$z-index-listing-show-photo-gallery-share-ui: 10200;
$z-index-listing-show-photo-gallery-share-tooltip: 10250;

// LEM/SLV widgets
$z-index-listing-widget-fixed: 100;

// BLV
$z-index-listings-index-results-map: 10;
$z-index-listings-index-results-prev-next: 20;
$z-index-listings-index-price-overlay: 30;
$z-index-listings-index-social-indicators: 30;
$z-index-host-info-card: 200;
$z-index-host-info-card-hover: 201;
$z-index-listings-index-results-overlay: 300;
$z-index-listings-search-box: 1000;
$z-index-pac-container: 2001;

// GLM
$z-index-glm-manage-menu: 100;

/**
 *  Listing Results Map
 */
// make the hover result marker be on top of any other marker
$z-index-listing-result-map-marker-hover: 500;

// make the listing result overlay be on top of everything on the map
$z-index-listing-result-map-overlay: 1000;
