@mixin dotted-link($color) {
  display: inline-block;
  border-bottom: 1px dotted lighten($color, 10%);
  color: $color;
}

@mixin triangle($direction, $width, $height, $color) {
  // TODO: Add `top-left`, `top-right` etc.
  @if ($direction == "up") {
    transform: rotate(135deg);
  } @else if ($direction == "down") {
    transform: rotate(-45deg);
  } @else if ($direction == "left") {
    transform: rotate(45deg);
  } @else if ($direction == "right") {
    transform: rotate(-135deg);
  }

  transform-origin: 0 0;
  border-width: $height $width / 2 0;
  border-style: solid;
  border-color: transparent transparent $color $color;
  background-color: $color;
  width: 0;
  height: 0;
  content: "";
}

@mixin dropdown-dialog($width, $bg-color: #fff, $padding: 20px) {
  display: block;
  position: absolute;
  box-shadow: 0 0 5px 0 rgba(#000, .25); // * Adjust accordingly
  border-radius: 4px;
  background-color: $bg-color;
  padding: $padding;
  width: $width;
}

@mixin dropdown-dialog-with-triangle($width, $bg-color: #fff, $triangle-size: 15px) {
  @include dropdown-dialog($width, $bg-color);
  bottom: -$triangle-size;
  transform: translateY(100%);

  &::after {
    @include triangle("up", $triangle-size, $triangle-size, $bg-color);
    display: block;
    position: absolute;
    top: 1px; // Making sure apex won't be visible
    left: $triangle-size + 30px;
    box-shadow: -3px 3px 5px -1px rgba(#000, .1); // * Adjust accordingly
  }
}

@mixin dropdown-dialog-menu-item($bg-color-active: #f7f7f7, $padding: 20px) {
  display: block;
  margin: 0 (-$padding);
  padding: 10px $padding;
  width: calc(100% + #{$padding * 2});
  text-align: left;

  &:active,
  &:focus,
  &:hover {
    background-color: $bg-color-active;
  }
}
