$color-primary: #2a9990;
$color-gray: #cdcdcd;
$color-facebook: #3b5998;
$color-placeholder-text: #888;

:global {
  .auth-form {
    margin-bottom: 10px;
    border: 1px solid $color-gray;
    border-radius: 4px;
    background: #fff;
    padding: 35px 0;

    input[type=checkbox] {
      margin-top: 4px; //little fix
    }

    @media (max-width: $screen-xs-max) {
      border: 0;
    }

    .btn-submit {
      transition: background-color .3s;
      border: 1px solid $color-primary;
      border-radius: 3px;
      background-color: $color-primary;
      padding: 10px;
      color: #fff;

      &:hover,
      &:active, // while pressing
      &:focus { // after pressing and the user doesn't click anywhere
        border: 1px solid $color-primary;
        background-color: darken($color-primary, 5%);
        color: #fff;
      }

      @media (max-width: $screen-xs-max) {
        margin-bottom: 15px;
      }
    }

    .btn-omni-facebook {
      transition: background-color .3s;
      margin-bottom: 6px;
      border: 1px solid $color-facebook;
      border-radius: 3px;
      background: $color-facebook 40%;
      padding: 16px 0 16px 44px;
      color: #fff;

      &:hover,
      &:active, // while pressing
      &:focus { // after pressing and the user doesn't click anywhere
        border: 1px solid $color-facebook;
        background-color: darken($color-facebook, 7%);
        color: #fff;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 15px;
        border-right: 1px solid #2f4967;
        border-radius: 3px 0 0 3px;
        width: 55px;
        height: 53px;
        content: "";
      }
    }
  }

  .devise-recommended-label {
    position: absolute;
    top: -100%;
    left: 50%;
  }

  .fb-svg-auth {
    position: absolute;
    top: 16px;
    left: 20px;
    margin-left: 8px;
    width: 15px;
    height: 26px;
  }

  .another-auth {
    position: absolute;
    top: 10px;
    left: 47%;
    background-color: #fff;
    width: 24px;
    height: 24px;
    text-align: center;
  }

  .devise {
    padding-top: 100px;

    > h2 {
      margin-bottom: 25px;
      text-align: center;
    }

    hr {
      border-top-color: $color-gray;
    }
  }

  .devise-title {
    margin-bottom: 25px;
  }

  .devise-subtitle {
    margin-bottom: 30px;
    text-align: center;
    font-size: 19px;

    @media (max-width: $screen-xs-max) {
      font-size: 15px;
    }
  }

  .devise-other-links {
    margin-bottom: 30px;

    a {
      color: $color-primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .form-left-bottom-content {
    padding-left: 0;

    @media (max-width: $screen-xs-max) {
      padding-left: inherit;
    }
  }

  .form-right-bottom-content {
    padding-right: 0;

    @media (max-width: $screen-xs-max) {
      padding-right: inherit;
    }
  }

  .btn-submit {
    transition: background-color .3s;
    border: 1px solid $color-primary;
    border-radius: 3px;
    background-color: $color-primary;
    padding: 10px 30px;
    color: #fff;

    &:hover,
    &:active,
    &:focus,
    &:link {
      border: 1px solid $color-primary;
      background-color: darken($color-primary, 5%);
      color: #fff;
    }
  }

  .btn-omni-facebook {
    position: relative;
    transition: background-color .3s;
    border: 1px solid $color-facebook;
    border-radius: 3px;
    background-color: $color-facebook;
    padding: 10px 30px;
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      border: 1px solid $color-facebook;
      background-color: darken($color-facebook, 7%);
      color: #fff;
    }
  }
}
