:global {
  .flash-area {
    position: absolute;
    top: 70px;
    left: 10%;
    z-index: $z-index-flash-area;
    width: 80%;

    .alert {
      position: absolute;
      opacity: 1;
      border-radius: 4px;
      width: 100%;
    }
  }
}
