// scss-lint:disable IdSelector

:global {
  .raise-intercom-launcher #intercom-container .intercom-app-launcher-enabled {
    .intercom-launcher-frame {
      bottom: 160px !important;
    }

    .intercom-launcher-badge-frame {
      bottom: 200px !important;
    }

    .intercom-notifications-frame {
      bottom: 235px !important;
    }
  }
}
