{
  "presets": [["es2015", { "modules": false }], "stage-2", "react"],
  "env": {
    "development": {
      "plugins": ["flow-react-proptypes"]
    },
    "test": {
      "presets":  ["es2015", "stage-2", "react", "flow"]
    }
  }
}
